/* Genel stil ayarları */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Sayfa arka planı ve metin rengi */
body {
  background-color: #1c1c1c;
  color: #f5f5f5;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* Başlıklar */
h2 {
  font-size: 2rem;
  color: #ff4c4c; /* Kırmızı tonları */
  margin-bottom: 20px;
}

/* Genel konteyner */
.homepage-container {
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Butonlar */
button {
  background-color: #ff4c4c; /* Kırmızı */
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-bottom: 10px;
}

button:disabled {
  background-color: #b5b5b5;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #ff0000;
}

/* Giriş alanları */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #333;
  background-color: #3a3a3a;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  background-color: #444;
  border-color: #ff4c4c;
}

/* Player sayısı */
p {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #ff4c4c;
}

/* Oda ID bilgisi */
.room-options p {
  font-size: 1rem;
  color: #f5f5f5;
  margin-top: 10px;
}
